asgiref
autopep8
certifi
crispy-bootstrap5
crispy-tailwind
distlib
Django
django-crispy-forms
django-environ
EasyProcess
entrypoint2
filelock
MouseInfo
mss
Pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
pycodestyle
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
sqlparse
tzdata
virtualenv