{% extends "base.html" %}
{% load static %}
{% block head_title %}Borrowed Book List{% endblock head_title %}

{% block content %}
    <div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th class="font-bold text-pink-700">Book Name</th>
        <th class="font-bold text-pink-700">User Name</th>
        <th class="font-bold text-pink-700">User Email</th>
        <th class="font-bold text-pink-700">Borrow Amount</th>
        <th class="font-bold text-pink-700">Borrow Date</th>
        <th class="font-bold text-pink-700">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for borrowed_book in borrowed_books %}
        <tr>
            <td>
                <div class="flex items-center gap-3">
                    <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
          
                            {% if borrowed_book.book.image %}
                            <img src="{{ borrowed_book.book.image.url }}" alt="Book" />
                        {% else %}
                            <img src="{% static 'path/to/placeholder-image.jpg' %}" alt="Placeholder" />
                        {% endif %}
                        </div>
                    </div>
                    <div>
                        <div class="font-bold">{{borrowed_book.book.book_name}}</div>
                    </div>
                </div>
            </td>
            <td>{{request.user.first_name}} {{request.user.last_name}}</td>
            <td>{{ borrowed_book.user.user.email }}</td>
            <td>{{ borrowed_book.book.book_price }}</td>
            <td>{{ borrowed_book.created_on|date:"jS F Y" }}</td>
            <th>
                <a href="{% url "add_comment" borrowed_book.book.id %}" class="btn btn-active btn-secondary btn-xs">Review Book</a>
                <a href="{% url "return_book" borrowed_book.id %}" class="btn btn-error btn-xs">Return Book</a>
            </th>
        </tr>
      {% endfor %}
    </tbody>
    
  </table>
</div>
{% endblock content %}