<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock head_title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function showSuccessAlert(message,msgType) {
                console.log(msgType)
                console.log( typeof msgType)
                Swal.fire({
                    icon: msgType === "success" ? "success": "error",
                    title: msgType === "success" ? "Success!": "Oops..",
                    text: message,
                    timer: 2000,
                })
            }

            {% if messages %}
                {% for message in messages %}
                    showSuccessAlert("{{ message }}" , "{{ message.tags }}");
                {% endfor %}
            {% endif %}
        });
    </script>
</head>
<body>
    {% include "navbar.html" %}
    <div class="lg:container lg:mx-auto" id="main">
        {% block content %}{% endblock content %}
        {% include "footer.html"%}
    </div>
    {% comment %} {% include "footer.html"%} {% endcomment %}
</body>
</html>